version: "3.7"
services:
  streaming:
    # image: tiangolo/nginx-rtmp:latest
    build:
      context: . 
      dockerfile: Dockerfile

    container_name: nginx-streaming
    volumes:
    - ./data:/mnt/hls
    - ./nginx:/etc/nginx
    - ./nginx-rtmp-module:/nginx-rtmp-module
    - ./script:/script/
    - ./static:/usr/share/nginx/html
    ports:
    - "8080:8080"
    - "1935:1935"
    - "3001:3000"
    environment:
    - NGINX_PORT=8080
    # command: "tail -f /dev/null"
    command: "bash stream.libx264.sh"